.floating-box {
    background: var(--light);
    color: var(--dark);
    box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
    margin: auto;
    padding: 2.6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1.2rem;
    min-width: 23rem;
    min-height: 15rem;
    max-width: 90%;
}

#hotelInfo {
    background: var(--light);
    color: var(--dark);
    box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
    border-radius: 1.2rem;
}

.list-group-item {
    background: var(--light);
    color: var(--dark);
    border-color: var(--darkList);
}

.card-header {
    background: var(--lightList);
    color: var(--dark);
    border-color: var(--darkList);
}

.card-body {
    background: var(--light);
    color: var(--dark);
}

.card-footer {
    background: var(--lightList);
    color: var(--dark);
    border-color: var(--darkList);
}

#tab-tab-boxlist {
    margin-left: auto;
}