/**** LANDING PAGE ****/
.footer {
  background-color: var(--purple);
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
}

.roleMenu{
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--dark);
}

.roleMenu:hover {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--dark);
}

.show > .roleMenu:focus {
  background-color: transparent;
  border: 1px solid transparent;
  color: var(--dark);
}

.main-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}