/**** LANDING PAGE ****/
.footer {
  background-color: #7749F8;
  position: fixed;
  bottom: 0;
  height: 40px;
  width: 100%;
  display: flex;
}

.roleMenu{
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  color: black;
}

.roleMenu:hover {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  color: black;
}

.show > .roleMenu:focus {
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  color: black;
}

.main-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
}