.name {
    font-weight: bold;
    color: var(--dark)
}

.signUp {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 4px;
    right: 170px;
    top: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: var(--purple);
    border: 1px solid var(--purple);
    box-sizing: border-box;
    border-radius: 4px;
    width: 140px;
    margin-right: 1rem;
    margin-left: 10px;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 4px;
    right: 30px;
    top: 10px;
    background: var(--purple);
    border: 1px solid var(--purple);
    box-sizing: border-box;
    border-radius: 4px;
    width: 120px;
    margin-right: 1rem;
}

.signUpIcon {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    color: var(--purple);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 6px;
}

.loginIcon {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    color: var(--white);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 6px;
}

.signUpText {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: var(--purple);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 6px;
}


.loginText {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: var(--white);
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 6px;
}

.dropButton {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    color: var(--dark);
}

.dropButton:hover {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    color: var(--dark);
}

.show > .dropButton:focus {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    color: var(--dark);
}

.nav .open > item, .nav .open > item:focus, .nav .open > item:hover {
    background: var(--hover-gray);
    color: var(--indigo);
}

.nav > li > item:focus, .nav > li > item:hover {
    background: var(--light);
    color: var(--dark);
}

.main-navbar {
    width: 100%;
    background-color: var(--light);
    color: var(--dark);
}

.main-navbar.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
}

.dropdown-menu.show {
    background: var(--light);
}
.dropdown-menu.show .dropdown-item {
    color: var(--dark);
}
.dropdown-menu.show .dropdown-item:hover {
    background-color: var(--hover-gray);
    color: var(--light);
}