.name {
    font-weight: bold;
}

.signUp {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 4px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #7749F8;
    border: 1px solid #7749F8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 140px;
    margin-right: 1rem;
    margin-left: 10px;
}

.login {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 4px;
    background: #7749F8;
    border: 1px solid #7749F8;
    box-sizing: border-box;
    border-radius: 4px;
    width: 120px;
    margin-right: 1rem;
}

.signUpIcon {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    color: #7749F8;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 6px;
}

.loginIcon {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 14px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 6px;
}

.signUpText {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #7749F8;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 6px;
}


.loginText{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 6px;
}

.dropButton {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    color: black;
}

.show > .dropButton:focus {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
    color: black;
}

.nav .open > item, .nav .open > item:focus, .nav .open > item:hover {
    background: #EBE5FC;
    color: #5227CC;
}
