.global-theme {
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #7749F8;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;

  &.global-theme-dark {
    --light: #424242;
    --lightList: #2F4F4F;
    --dark: #f8f9fa;
    --hover-gray: #EBE5FC;

    --admin-color: #bf293e;
    --manager-color: #48b321;
    --client-color: #946a80;
    --breadcrumb-light: #1d0000;
  }

  &.global-theme-light {
    --light: #f8f9fa;
    --lightList: #e9ecef;
    --dark: #343a40;
    --darkList: #e0e0e0;
    --hover-gray: #EBE5FC;

    --admin-color: #bf293e;
    --manager-color: #48b321;
    --client-color: #946a80;
    --breadcrumb-light: #f8f9fa;
  }
}

form input.form-control,
form textarea.form-control,
form select.form-control {
  background-color: var(--light);
  color: var(--dark);
  &:focus {
    background-color: var(--light);
    color: var(--dark);
  }
}
.breadcrumb .breadcrumb-item.active{
  color: var(--dark)
}

.App {
  color: var(--dark);
}

.global-theme-dark .signUp.nav-link .signUpText {
  color: var(--dark) !important;
}
.text-light {
  color: var(--light);
}
.text-dark {
  color: var(--dark) !important;
}

.main-navbar,
.bottom-navbar {
  .dropdown-menu.show > .dropdown-item {
    &:hover {
      color: #343a40 !important;
    }
  }
}

.dark-text-hover:hover {
  color: #343a40 !important;
}