@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

.card-button {
  @include media-breakpoint-only(xl) {
    margin-left: 0.8rem;
  }

  @include media-breakpoint-only(lg) {
    margin-left: 0rem;
    margin-top: 0.2rem;
  }

  @include media-breakpoint-only(md) {
    margin-left: 0rem;
    margin-top: 0.2rem;
  }

  @include media-breakpoint-down(sm) {
    margin-left: 0rem;
    //margin-top: 0.2rem;
  }

  @include media-breakpoint-down(xs) {
    margin-left: 2rem;
  }
}

.card-item {
  background: var(--light);
  color: var(--dark);
  box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
  border-radius: 1.2rem;
  align-self: stretch;
}
.card-item-body {
  border-radius: inherit;
}

#box-list {
  height: 100%;
  position: relative;
}

.box-grid {
  background: var(--light);
  color: var(--dark);
  box-shadow: 0 0 0.3rem 0.1rem rgba(0, 0, 0, 0.5);
  padding: 2.6rem;
  border-radius: 1.2rem;
}

#box-list {
  @media (max-width: 415px) {
    .card-button {
      margin: 0.5rem auto !important;
      display: block;
    }
  }
}