@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

#report-container {
  .date-picker-custom {
      margin-top: 2rem;
      margin-inline: 2rem;
  }

  .btn-background-custom {
    background-color: #7749F8;
    border-color: #7749F8;
  }
  .btn-background-custom:hover {
    background-color: #6a40e3;
  }


  .table-content-uppercase {
    text-transform: capitalize;
  }

  .form-floating-box {
    max-height: 75%;
  }
}