@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

#report-container {
  .date-picker-custom {
      margin-top: 2rem;
      margin-inline: 2rem;
  }

  .btn-background-custom {
    background-color: #7749F8;
  }
}