@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

#bottom-notification-wrapper {
  right: 1rem;
  bottom: 0;
  z-index: 1;
  @include media-breakpoint-down(xs) {
    left: 1rem;
  }

  @include media-breakpoint-up(sm) {
    max-width: 400px;
  }

  .alert {
    padding-right: 2rem;
    position: relative;

    & > button {
      font-size: 1.5rem;
      padding: .3rem .5rem .5rem .5rem;
    }
  }

  .alert-progress-bar {
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    height: 3px;
  }

  .progress-bar {
    width: 100%;
  }
}