@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

#add-hotel-form {
  .btn-background-custom {
    background-color: #7749F8;
    border-color: #7749F8;
    width: 70%;
    margin: auto;
  }

  .btn-background-custom:hover {
    background-color: #6a40e3;
  }

  .custom-asterisk {
    color: #7749F8;
    display: inline-block;
    margin: 0.2rem;
  }

  .err-msg {
    color: red;
  }

  .obligatory-fields {
    margin-top: 2rem;
    margin-bottom: 0;
    color: #7749F8;
    font-size: 0.7rem;
  }

  .form-floating-box {
    width: 70rem;
  }

  .text-area-custom {
    resize: none;
    height: 7.95rem;
  }
}